body, #searchQuery, #searchDiv{
  font-size: 15pt;
}

#searchQuery, #submit_btn  {
  width: auto;
  float: left;
  margin: 10px 10px 10px 10px;
}

#searchForm {
  padding: 10px;
}

 .fixed-panel {
  height: calc(100vh - 5px);
  overflow-y: auto;
}

#patientDashboard {
  display:none;
}

#searchResults {
  width: 100%;  
}
